*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkred;
    color:aliceblue;
    padding: 15px;
    align-items:center;
    text-align: center;
    border-bottom:darkred 3px solid;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-color:#fff8ef;
    min-height: 60vh;
    padding: 50px;
}
.product-container{
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    width: 31%;
    display: inline-block;
}
.product-image{
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#img-1{
    background-image: url(../imagens/tenis1.jpg);
}
#img-2{
    background-image: url(../imagens/tenis2.jpg);
}
#img-3{
    background-image: url(../imagens/tenis3.jpg);
}
#img-4{
    background-image: url(../imagens/tenis4.jpg);
}
#img-5{
    background-image: url(../imagens/tenis5.jpg);
}
#img-6{
    background-image: url(../imagens/tenis6.jpg);
}
h3{
    margin-bottom: 10px;
    color:darkred;
    font-size: 24px;
}
.card p{
    margin-bottom: 10px;
}

.btn{
    display:block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: darkred;
    color: aliceblue;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.btn:hover{
    background-color: maroon;

}

footer{
    background-color: darkgrey;
    text-align: center;
    padding: 80px;
    color: black;
}