body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(109, 0, 0);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c70101;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c90101;
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
}