body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fundo1.png');
    background-size: cover; /* Para garantir que a imagem cubra toda a tela */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fundo2.png');
    background-size: cover; /* Para garantir que a imagem cubra toda a tela */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Cor de fundo com transparência */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #700101;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #470101;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    
    background-color: #700101;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.photo {
    position: relative;
}

.photo img {
    width: 100%;
    border-radius: 5px;
}

.footer {
    background-color: #4b0505;
    padding: 20px;
    text-align: center;
    font-size: medium;
    color: #fff;
}

.footer a {
    margin: 0 10px;
}

.footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: scale(1.1);
}
